{% extends "LFMemoBoxBundle::layout.html.twig" %}

{% block content%}
<div class="row">
	<div class="col-xs-12">
		<p>block content archive</p>
		{{ render(controller('LFEventBundle:Event:EventListItem', {'events': allEvents })) }}
	</div>
</div>
{% endblock %}
