{% extends "LFMemoBoxBundle::layout.html.twig" %}

{% block content%}
<div class="row">
	<div class="col-xs-12">
		<p>block content memobox</p>
		{% for theme in themesHomePage %}
			<div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
				<div class="well">
			      	<h2>{{ theme.name }}</h2>
			      	<ul>
			      		{% for event in theme.getEvents() %}
			      			<li>{{ event.title }}</li>
			      		{% endfor %}
			      	</ul>
			    </div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
